<div class="row">
  <form class="col s12" action="/showcar" method="post">
    <div class="row">
      <div class="input-field col s6">
        <input placeholder="Placeholder" id="first_name" type="text" class="validate">
        <label for="first_name">First Name</label>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <button class="btn waves-effect waves-light" type="submit" name="action">
        Submit<i class="material-icons right">send</i>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <button class="btn waves-effect waves-light" type="submit" name="action">
        Submit<i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </form>
</div>
<script>
  $(document).ready(function() {
    alert('hello');
  })
</script>
