<div class="row">
  <form class="col s12" method="post" action="/showcar">
    <div style="text-align:center;">
      <h2 class="question"><b>1. Which of these traits describe you? Rank the top three, 1 being the most like you.</b></h2>
      <img data-html="true" data-position="bottom" data-tooltip="Adventurous" class="tooltipped" src="img/adventurous.jpg" height="155" width="155" onclick="q11clickPic(0);">
      <img data-html="true" data-position="bottom" data-tooltip="Unique" class="tooltipped" src="img/unique.jpg" height="155" width="155" onclick="q11clickPic(1);">
      <img data-html="true" data-position="bottom" data-tooltip="Powerful" class="tooltipped" src="img/powerful.jpg" height="155" width="155" onclick="q11clickPic(2);">
      <img data-html="true" data-position="bottom" data-tooltip="Intellectual" class="tooltipped" src="img/intellectual.jpg" height="155" width="155" onclick="q11clickPic(3);">
      <img data-html="true" data-position="bottom" data-tooltip="Social" class="tooltipped" src="img/social.jpg" height="155" width="155" onclick="q11clickPic(4);">
      <img data-html="true" data-position="bottom" data-tooltip="Classy" class="tooltipped" src="img/classy.jpg" height="155" width="155" onclick="q11clickPic(5);">
      <img data-html="true" data-position="bottom" data-tooltip="Practical" class="tooltipped" src="img/practical.jpg" height="155" width="155" onclick="q11clickPic(6);">
      <input type="text" name="q11text" id="q11text">
    </div>
    <div style="text-align:center;">
      <img data-html="true" data-position="bottom" data-tooltip="Adventurous" class="tooltipped" src="img/adventurous.jpg" height="155" width="155" onclick="q12clickPic(0);">
      <img data-html="true" data-position="bottom" data-tooltip="Unique" class="tooltipped" src="img/unique.jpg" height="155" width="155" onclick="q12clickPic(1);">
      <img data-html="true" data-position="bottom" data-tooltip="Powerful" class="tooltipped" src="img/powerful.jpg" height="155" width="155" onclick="q12clickPic(2);">
      <img data-html="true" data-position="bottom" data-tooltip="Intellectual" class="tooltipped" src="img/intellectual.jpg" height="155" width="155" onclick="q12clickPic(3);">
      <img data-html="true" data-position="bottom" data-tooltip="Social" class="tooltipped" src="img/social.jpg" height="155" width="155" onclick="q12clickPic(4);">
      <img data-html="true" data-position="bottom" data-tooltip="Classy" class="tooltipped" src="img/classy.jpg" height="155" width="155" onclick="q12clickPic(5);">
      <img data-html="true" data-position="bottom" data-tooltip="Practical" class="tooltipped" src="img/practical.jpg" height="155" width="155" onclick="q12clickPic(6);">
      <input type="text" name="q12text" id="q12text">
    </div>
    <div style="text-align:center;">
      <img data-html="true" data-position="bottom" data-tooltip="Adventurous" class="tooltipped" src="img/adventurous.jpg" height="155" width="155" onclick="q13clickPic(0);">
      <img data-html="true" data-position="bottom" data-tooltip="Unique" class="tooltipped" src="img/unique.jpg" height="155" width="155" onclick="q13clickPic(1);">
      <img data-html="true" data-position="bottom" data-tooltip="Powerful" class="tooltipped" src="img/powerful.jpg" height="155" width="155" onclick="q13clickPic(2);">
      <img data-html="true" data-position="bottom" data-tooltip="Intellectual" class="tooltipped" src="img/intellectual.jpg" height="155" width="155" onclick="q13clickPic(3);">
      <img data-html="true" data-position="bottom" data-tooltip="Social" class="tooltipped" src="img/social.jpg" height="155" width="155" onclick="q13clickPic(4);">
      <img data-html="true" data-position="bottom" data-tooltip="Classy" class="tooltipped" src="img/classy.jpg" height="155" width="155" onclick="q13clickPic(5);">
      <img data-html="true" data-position="bottom" data-tooltip="Practical" class="tooltipped" src="img/practical.jpg" height="155" width="155" onclick="q13clickPic(6);">
      <input type="text" name="q13text" id="q13text">
    </div>
    <div style="text-align:center;display:none">
      <img data-html="true" data-position="bottom" data-tooltip="Adventurous" class="tooltipped" src="img/adventurous.jpg" height="155" width="155" onclick="q14clickPic(0);">
      <img data-html="true" data-position="bottom" data-tooltip="Unique" class="tooltipped" src="img/unique.jpg" height="155" width="155" onclick="q14clickPic(1);">
      <img data-html="true" data-position="bottom" data-tooltip="Powerful" class="tooltipped" src="img/powerful.jpg" height="155" width="155" onclick="q14clickPic(2);">
      <img data-html="true" data-position="bottom" data-tooltip="Intellectual" class="tooltipped" src="img/intellectual.jpg" height="155" width="155" onclick="q14clickPic(3);">
      <img data-html="true" data-position="bottom" data-tooltip="Social" class="tooltipped" src="img/social.jpg" height="155" width="155" onclick="q14clickPic(4);">
      <img data-html="true" data-position="bottom" data-tooltip="Classy" class="tooltipped" src="img/classy.jpg" height="155" width="155" onclick="q14clickPic(5);">
      <img data-html="true" data-position="bottom" data-tooltip="Practical" class="tooltipped" src="img/practical.jpg" height="155" width="155" onclick="q14clickPic(6);">
      <input type="text" name="q14text" id="q14text">
    </div>
    <div style="text-align:center;display:none">
      <img data-html="true" data-position="bottom" data-tooltip="Adventurous" class="tooltipped" src="img/adventurous.jpg" height="155" width="155" onclick="q15clickPic(0);">
      <img data-html="true" data-position="bottom" data-tooltip="Unique" class="tooltipped" src="img/unique.jpg" height="155" width="155" onclick="q15clickPic(1);">
      <img data-html="true" data-position="bottom" data-tooltip="Powerful" class="tooltipped" src="img/powerful.jpg" height="155" width="155" onclick="q15clickPic(2);">
      <img data-html="true" data-position="bottom" data-tooltip="Intellectual" class="tooltipped" src="img/intellectual.jpg" height="155" width="155" onclick="q15clickPic(3);">
      <img data-html="true" data-position="bottom" data-tooltip="Social" class="tooltipped" src="img/social.jpg" height="155" width="155" onclick="q15clickPic(4);">
      <img data-html="true" data-position="bottom" data-tooltip="Classy" class="tooltipped" src="img/classy.jpg" height="155" width="155" onclick="q15clickPic(5);">
      <img data-html="true" data-position="bottom" data-tooltip="Practical" class="tooltipped" src="img/practical.jpg" height="155" width="155" onclick="q15clickPic(6);">
      <input type="text" name="q15text" id="q15text">
    </div>
    <div style="text-align:center;display:none">
      <img data-html="true" data-position="bottom" data-tooltip="Adventurous" class="tooltipped" src="img/adventurous.jpg" height="155" width="155" onclick="q16clickPic(0);">
      <img data-html="true" data-position="bottom" data-tooltip="Unique" class="tooltipped" src="img/unique.jpg" height="155" width="155" onclick="q16clickPic(1);">
      <img data-html="true" data-position="bottom" data-tooltip="Powerful" class="tooltipped" src="img/powerful.jpg" height="155" width="155" onclick="q16clickPic(2);">
      <img data-html="true" data-position="bottom" data-tooltip="Intellectual" class="tooltipped" src="img/intellectual.jpg" height="155" width="155" onclick="q16clickPic(3);">
      <img data-html="true" data-position="bottom" data-tooltip="Social" class="tooltipped" src="img/social.jpg" height="155" width="155" onclick="q16clickPic(4);">
      <img data-html="true" data-position="bottom" data-tooltip="Classy" class="tooltipped" src="img/classy.jpg" height="155" width="155" onclick="q16clickPic(5);">
      <img data-html="true" data-position="bottom" data-tooltip="Practical" class="tooltipped" src="img/practical.jpg" height="155" width="155" onclick="q16clickPic(6);">
      <input type="text" name="q16text" id="q16text">
    </div>
    <div style="text-align:center;display:none">
      <img data-html="true" data-position="bottom" data-tooltip="Adventurous" class="tooltipped" src="img/adventurous.jpg" height="155" width="155" onclick="q17clickPic(0);">
      <img data-html="true" data-position="bottom" data-tooltip="Unique" class="tooltipped" src="img/unique.jpg" height="155" width="155" onclick="q17clickPic(1);">
      <img data-html="true" data-position="bottom" data-tooltip="Powerful" class="tooltipped" src="img/powerful.jpg" height="155" width="155" onclick="q17clickPic(2);">
      <img data-html="true" data-position="bottom" data-tooltip="Intellectual" class="tooltipped" src="img/intellectual.jpg" height="155" width="155" onclick="q17clickPic(3);">
      <img data-html="true" data-position="bottom" data-tooltip="Social" class="tooltipped" src="img/social.jpg" height="155" width="155" onclick="q17clickPic(4);">
      <img data-html="true" data-position="bottom" data-tooltip="Classy" class="tooltipped" src="img/classy.jpg" height="155" width="155" onclick="q17clickPic(5);">
      <img data-html="true" data-position="bottom" data-tooltip="Practical" class="tooltipped" src="img/practical.jpg" height="155" width="155" onclick="q17clickPic(6);">
      <input type="text" name="q17text" id="q17text">
    </div>
    <div style="text-align:center;">
      <h2 class="question"><b>2. How much are you willing to spend on a new car?</b></h2>
      <div class="slidecontainer">
        <input type="range" min="0" max="3" value="0" style="width:100%;height:10px;padding-left:140px;padding-right:140px" class="slider" id="q2">
        <img data-html="true" data-position="bottom" data-tooltip="Pennies" class="tooltipped" style="display:inline-block;" src="img/pennies.jpg" height="155" width="155" onclick="clickPic(0);">
        <img data-html="true" data-position="bottom" data-tooltip="Some Money" class="tooltipped" style="display:inline-block;" src="img/some money.jpg" height="155" width="155" onclick="clickPic(1);">
        <img data-html="true" data-position="bottom" data-tooltip="More Money" class="tooltipped" style="display:inline-block;" src="img/more money.jpg" height="155" width="155" onclick="clickPic(2);">
        <img data-html="true" data-position="bottom" data-tooltip="Most Money" class="tooltipped" style="display:inline-block;" src="img/most money.jpg" height="155" width="155" onclick="clickPic(3);">
        <input type="text" name="q2text" id="q2text">
      </div>
    </div>
    <div style="text-align:center;">
      <h2 class="question"><b>3. How often do you travel?</b></h2>
      <div class="slidecontainer">
        <input type="range" min="0" max="3" value="0" style="width:100%;height:10px;padding-left:140px;padding-right:140px" class="slider" id="q3">
        <img data-html="true" data-position="bottom" data-tooltip="Very Little" class="tooltipped" src="img/no travel.jpg" height="155" width="155" onclick="q3clickPic(0);">
        <img data-html="true" data-position="bottom" data-tooltip="Some" class="tooltipped" src="img/bike.jpg" height="155" width="155" onclick="q3clickPic(1);">
        <img data-html="true" data-position="bottom" data-tooltip="A Moderate Amount" class="tooltipped" src="img/car.jpg" height="155" width="155" onclick="q3clickPic(2);">
        <img data-html="true" data-position="bottom" data-tooltip="I Live In My Car" class="tooltipped" src="img/plane.jpg" height="155" width="155" onclick="q3clickPic(3);">
        <input type="text" name="q3text" id="q3text">
      </div>
    </div>
    <div style="text-align:center;">
      <h2 class="question"><b>4. When you do travel, where's your favorite place to go?</b></h2>
      <img data-html="true" data-position="bottom" data-tooltip="Mountains" class="tooltipped" src="img/mountains.jpg" height="155" width="155" onclick="q4clickPic(0);">
      <img data-html="true" data-position="bottom" data-tooltip="Beach" class="tooltipped" src="img/beach.jpg" height="155" width="155" onclick="q4clickPic(1);">
      <img data-html="true" data-position="bottom" data-tooltip="City" class="tooltipped" src="img/city.jpg" height="155" width="155" onclick="q4clickPic(2);">
      <img data-html="true" data-position="bottom" data-tooltip="Country" class="tooltipped" src="img/country.jpg" height="155" width="155" onclick="q4clickPic(3);">
      <input type="text" name="q4text" id="q4text">
    </div>
    <div style="text-align:center;">
      <h2 class="question"><b>5. Where do you live?</b></h2>
      <img data-html="true" data-position="bottom" data-tooltip="City" class="tooltipped" src="img/city.jpg" height="155" width="155" onclick="q5clickPic(0);">
      <img data-html="true" data-position="bottom" data-tooltip="Small Town" class="tooltipped" src="img/small town.jpg" height="155" width="155" onclick="q5clickPic(1);">
      <img data-html="true" data-position="bottom" data-tooltip="Mountains" class="tooltipped" src="img/mountains.jpg" height="155" width="155" onclick="q5clickPic(2);">
      <img data-html="true" data-position="bottom" data-tooltip="Country Side" class="tooltipped" src="img/country.jpg" height="155" width="155" onclick="q5clickPic(3);">
      <input type="text" name="q5text" id="q5text">
    </div>
    <div style="text-align:center;">
      <h2 class="question"><b>6. What's more important to you: function or fashion?</b></h2>
      <img data-html="true" data-position="bottom" data-tooltip="Function" class="tooltipped" style="display:inline-block;" hspace="70" src="img/function.jpg" height="155" width="250" onclick="q6clickPic(0);">
      <img data-html="true" data-position="bottom" data-tooltip="Fashion" class="tooltipped" style="display:inline-block;" hspace="70" src="img/fashion.jpg" height="155" width="300" onclick="q6clickPic(1);">
      <input type="text" name="q6text" id="q6text">
    </div>
    <div style="text-align:center;">
      <h2 class="question"><b>7. How big is your current household?</b></h2>
      <div class="slidecontainer">
        <input type="range" min="0" max="2" value="0" style="width:100%;height:10px;padding-left:190px;padding-right:190px" class="slider" id="q7">
      </div>
      <h4 style="text-align:center; display:inline-block; width: 33%;" onclick="q7clickPic(0);">1-2</h4>
      <h4 style="text-align:center; display:inline-block; width: 33%;" onclick="q7clickPic(1);">3-4</h4>
      <h4 style="text-align:center; display:inline-block; width: 33%;" onclick="q7clickPic(2);">5+</h4>
      <input type="text" name="q7text" id="q7text">
    </div>
    <div style="text-align:center;">
      <h2 class="question"><b>8. Do you prefer a night at home with a few friends, or going out on the town?</b></h2>
      <img data-html="true" data-position="bottom" data-tooltip="Chill Night" class="tooltipped" style="display:inline-block;" hspace="70" src="img/chill night.jpg" height="155" width="250" onclick="q8clickPic(0);">
      <img data-html="true" data-position="bottom" data-tooltip="Clubbing" class="tooltipped" style="display:inline-block;" hspace="70" src="img/clubbing.jpg" height="155" width="250" onclick="q8clickPic(1);">
      <input type="text" name="q8text" id="q8text">
    </div>
    <div style="text-align:center;">
      <h2 class="question"><b>9. How environmentally conscious would you consider yourself?</b></h2>
      <div class="slidecontainer">
        <input type="range" min="0" max="3" value="0" style="width:100%;height:10px;padding-left:140px;padding-right:140px" class="slider" id="q9">
        <img data-html="true" data-position="bottom" data-tooltip="Dump trash in Ocean :|" class="tooltipped" src="img/plastic in the ocean.jpg" height="155" width="155" onclick="q9clickPic(0);">
        <img data-html="true" data-position="bottom" data-tooltip="Recycle a little :)" class="tooltipped" src="img/recycle a little.jpg" height="155" width="180" onclick="q9clickPic(1);">
        <img data-html="true" data-position="bottom" data-tooltip="Recycle a lot!" class="tooltipped" src="img/recycle a lot.jpg" height="155" width="155" onclick="q9clickPic(2);">
        <img data-html="true" data-position="bottom" data-tooltip="Tree Hugger!!" class="tooltipped" src="img/tree hugger.jpg" height="155" width="155" onclick="q9clickPic(3);">
        <input type="text" name="q9text" id="q9text">
      </div>
    </div>
    <div class="row">
      <div class="col s10 offset-s2">
        <button id="submit_form" style="font-size:66px;height:124px;width:800px" class="btn waves-effect waves-light" type="submit">
        Find My Ideal Car
        </button>
      </div>
    </div>
  </form>
</div>
<script>
  $(document).ready(function(){
    $('.tooltipped').tooltip();
  });
</script>
<!-- Main script -->
<script src="js/main.js"></script>
