<!DOCTYPE html>
<html>
<head>
</head>

<div class="row">
  <form class="col s12" method="post">
    <div class="row">
      <div class="input-field col s6">
        <input placeholder="Placeholder" id="first_name" type="text" class="validate">
        <label for="first_name">First Name</label>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <button class="btn waves-effect waves-light" type="submit" name="action">
        Submit<i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </form>
<!--    <div class="row">
      <div class="col s6">
        Which of these traits describe you? Rank them from 1-7, 1 being the most like you.
        <label for="unique"></label>
        <input id="unique" type="radio" name="trait" value="unique"/>
         <label for="adv"><img src="img/adventurous.jpg">Adventurous/Outdoorsy</label>
        <input id="adv" type="radio" name="trait" value="adv"/>
      </div>
    </div>	-->
    <form>
    	<script type="text/javascript">
    	function test(trait)
    	{
    		alert(trait);
    	}
		</script>
	    <h2 class="question"><b>1. Which of these traits describe you? Rank them from 1-7, 1 being the most like you.</b></h2>
		<ul class="answers">
			<input type="image" width="100" height="100" name="q1" id="q1a" src="img/adventurous.jpg" onclick="test('Adventurous/Outdoorsy');"/></br>
				<label for="q1a">Adventurous/Outdoorsy</label></br></br>
			<input type="image" width="100" height="100" name="q1" id="q1b" src="img/unique.jpg" onclick="test('Unique');"/></br>
				<label for="q1b">Unique</label><br/></br>
			<input type="image" width="100" height="100" name="q1" id="q1c" src="img/powerful.jpg" onclick="test('Powerful');"/></br>
				<label for="q1c">Powerful</label><br/></br>
			<input type="image" width="100" height="100" name="q1" id="q1d" src="img/intellectual.jpg" onclick="test('Intellectual');"/></br>
				<label for="q1d">Intellectual/Tech-Savvy</label><br/></br>
			<input type="image" width="100" height="100" name="q1" id="q1e" src="img/social.jpg" onclick="test('Socialite');"/></br>
				<label for="q1e">Socialite</label><br/></br>
			<input type="image" width="100" height="100" name="q1" id="q1f" src="img/classy.jpg" onclick="test('Classy');"/></br>
				<label for="q1f">Classy</label><br/></br>
			<input type="image" width="100" height="100" name="q1" id="q1g" src="img/practical.jpg" onclick="test('Practical');"/></br>
				<label for="q1g">Practical</label><br/><br/><br/>
		</ul>
		
		<div style="text-align:center;">		
		<h2 class="question"><b>2. How much are you willing to spend on a new car?</b></h2>
		<div class="slidecontainer">
  			<input type="range" min="0" max="3" value="0" style="width:100%;height:10px;padding-left:140px;padding-right:140px" class="slider" id="q2">
  			<img style="display:inline-block;" hspace="70" src="img/pennies.jpg" height="150" width="150" onclick="clickPic(0);">
  			<img style="display:inline-block;" hspace="70" src="img/some money.jpg" height="150" width="150" onclick="clickPic(1);">
  			<img style="display:inline-block;" hspace="70" src="img/more money.jpg" height="150" width="150" onclick="clickPic(2);">
  			<img style="display:inline-block;" hspace="70" src="img/most money.jpg" height="150" width="150" onclick="clickPic(3);">
  			<h2 align="center"><span id="q2text"></span></h2>
		</div>
		</div>

		<script>
		var slider = document.getElementById("q2");
		var q2output = document.getElementById("q2text");
		q2output.innerHTML = "Pick An Image";
		
		function clickPic(num) {
		  slider.value = num;
		  changeText();
		}
		
		slider.oninput = function() {
		  if (this.value == 0) {
		    q2output.innerHTML = "No Money";
		  } else if (this.value == 1) {
		    q2output.innerHTML = "Some Money";
		  } else if (this.value == 2) {
		  	q2output.innerHTML = "More Money";
		  } else {
		    q2output.innerHTML = "All The Money";
		  }
		  update();
		}
		
		function changeText() {
		  if (slider.value == 0) {
		    q2output.innerHTML = "No Money";
		  } else if (slider.value == 1) {
		    q2output.innerHTML = "Some Money";
		  } else if (slider.value == 2) {
		  	q2output.innerHTML = "More Money";
		  } else {
		    q2output.innerHTML = "All The Money";
		  }
		  update();
		}
		</script>
		<br/><br/><br/>
		<div style="text-align:center;">
		<h2 class="question"><b>3. How often do you travel?</b></h2>
		<div class="slidecontainer">
  			<input type="range" min="0" max="3" value="0" style="width:100%;height:10px;padding-left:140px;padding-right:140px" class="slider" id="q3">
  			<img hspace="70" src="img/pennies.jpg" height="150" width="150" onclick="q3clickPic(0);">
  			<img hspace="70" src="img/some money.jpg" height="150" width="150" onclick="q3clickPic(1);">
  			<img hspace="70" src="img/more money.jpg" height="150" width="150" onclick="q3clickPic(2);">
  			<img hspace="70" src="img/most money.jpg" height="150" width="150" onclick="q3clickPic(3);">
  			<h2 align="center"><span id="q3text"></span></h2>
		</div></div>

		<script>
		var q3slider = document.getElementById("q3");
		var q3output = document.getElementById("q3text");
		q3output.innerHTML = "Pick An Image";
		
		function q3clickPic(num) {
		  q3slider.value = num;
		  q3changeText();
		}
		
		q3slider.oninput = function() {
		  if (this.value == 0) {
		    q3output.innerHTML = "Very Little";
		  } else if (this.value == 1) {
		    q3output.innerHTML = "Some";
		  } else if (this.value == 2) {
		  	q3output.innerHTML = "A Moderate Amount";
		  } else {
		    q3output.innerHTML = "I Live In My Car";
		  }
		  update();
		}
		
		function q3changeText() {
		  if (q3slider.value == 0) {
		    q3output.innerHTML = "Very Little";
		  } else if (q3slider.value == 1) {
		    q3output.innerHTML = "Some";
		  } else if (q3slider.value == 2) {
		  	q3output.innerHTML = "A Moderate Amount";
		  } else {
		    q3output.innerHTML = "I Live In My Car";
		  }
		  update();
		}
		</script>
		<br/><br/><br/>
		<div style="text-align:center;">
		<h2 class="question"><b>4. When you do travel, where's your favorite place to go?</b></h2>
		<img hspace="70" src="img/pennies.jpg" height="150" width="150" onclick="q4clickPic(0);">
		<img hspace="70" src="img/some money.jpg" height="150" width="150" onclick="q4clickPic(1);">
		<img hspace="70" src="img/more money.jpg" height="150" width="150" onclick="q4clickPic(2);">
		<img hspace="70" src="img/most money.jpg" height="150" width="150" onclick="q4clickPic(3);">
		<h2 align="center"><span id="q4text"></span></h2>
		</div>

		<script>
		var q4output = document.getElementById("q4text");
		var value;
		q4output.innerHTML = "Pick An Image";
		
		function q4clickPic(value) {
		  if (value == 0) {
		    q4output.innerHTML = "Mountains";
		  } else if (value == 1) {
		    q4output.innerHTML = "Beach";
		  } else if (value == 2) {
		  	q4output.innerHTML = "City";
		  } else {
		    q4output.innerHTML = "Countryside";
		  }
		  update();
		}
		</script>
		<br/><br/><br/>
		<div style="text-align:center;">
		<h2 class="question"><b>5. Where do you live?</b></h2>
		<img hspace="70" src="img/pennies.jpg" height="150" width="150" onclick="q5clickPic(0);">
		<img hspace="70" src="img/some money.jpg" height="150" width="150" onclick="q5clickPic(1);">
		<img hspace="70" src="img/more money.jpg" height="150" width="150" onclick="q5clickPic(2);">
		<img hspace="70" src="img/most money.jpg" height="150" width="150" onclick="q5clickPic(3);">
		<h2 align="center"><span id="q5text"></span></h2>
		</div>
		
		<script>
		var q5output = document.getElementById("q5text");
		var value;
		q5output.innerHTML = "Pick An Image";
		
		function q5clickPic(value) {
		  if (value == 0) {
		    q5output.innerHTML = "City";
		  } else if (value == 1) {
		    q5output.innerHTML = "Small Town";
		  } else if (value == 2) {
		  	q5output.innerHTML = "Mountains";
		  } else {
		    q5output.innerHTML = "Countryside";
		  }
		  update();
		}
		</script>
		<br/><br/><br/>
		<div style="text-align:center;">
		<h2 class="question"><b>6. What’s more important to you: function or fashion?</b></h2>
		<img style="display:inline-block;" hspace="70" src="img/pennies.jpg" height="150" width="150" onclick="q6clickPic(0);">
		<img style="display:inline-block;" hspace="70" src="img/some money.jpg" height="150" width="150" onclick="q6clickPic(1);">
		<h2 align="center"><span id="q6text"></span></h2>
		</div>

		<script>
		var q6output = document.getElementById("q6text");
		var value;
		q6output.innerHTML = "Pick An Image";
		
		function q6clickPic(value) {
		  if (value == 0) {
		    q6output.innerHTML = "Function";
		  } else {
		    q6output.innerHTML = "Fashion";
		  }
		  update();
		}
		</script>
		<br/><br/><br/>
		<div style="text-align:center;">
		<h2 class="question"><b>7. How How big is your current household?</b></h2>
		<div class="slidecontainer">
  			<input type="range" min="0" max="2" value="0" style="width:100%;height:10px;padding-left:190px;padding-right:190px" class="slider" id="q7">
		</div>
		<h4 style="text-align:center; display:inline-block; width: 33%;" onclick="q7clickPic(0);">1-2</h4>
		<h4 style="text-align:center; display:inline-block; width: 33%;" onclick="q7clickPic(1);">3-4</h4>			
		<h4 style="text-align:center; display:inline-block; width: 33%;" onclick="q7clickPic(2);">5+</h4>			
  		
		<h2 align="center"><span id="q7text"></span></h2>
		</div>

		<script>
		var q7slider = document.getElementById("q7");
		var q7output = document.getElementById("q7text");
		q7output.innerHTML = "Select A Number";
		
		function q7clickPic(num) {
		  q7slider.value = num;
		  q7changeText();
		}
		
		q7slider.oninput = function() {
		  if (this.value == 0) {
		    q7output.innerHTML = "1-2";
		  } else if (this.value == 1) {
		    q7output.innerHTML = "3-4";
		  } else {
		    q7output.innerHTML = "5+";
		  }
		  update();
		}
		
		function q7changeText() {
		  if (q7slider.value == 0) {
		    q7output.innerHTML = "1-2";
		  } else if (q7slider.value == 1) {
		    q7output.innerHTML = "3-4";
		  } else {
		    q7output.innerHTML = "5+";
		  }
		  update();
		}
		</script>
		<br/><br/><br/>
		<div style="text-align:center;">
		<h2 class="question"><b>8. Do you prefer a night at home with a few friends, or going out on the town?</b></h2>
		<img style="display:inline-block;" hspace="70" src="img/pennies.jpg" height="150" width="150" onclick="q8clickPic(0);">
		<img style="display:inline-block;" hspace="70" src="img/some money.jpg" height="150" width="150" onclick="q8clickPic(1);">
		<h2 align="center"><span id="q8text"></span></h2>
		</div>

		<script>
		var q8output = document.getElementById("q8text");
		var value;
		q8output.innerHTML = "Pick An Image";
		
		function q8clickPic(value) {
		  if (value == 0) {
		    q8output.innerHTML = "Night At Home";
		  } else {
		    q8output.innerHTML = "Out On The Town";
		  }
		  update();
		}
		</script>
		<br/><br/><br/>
		<div style="text-align:center;">
		<h2 class="question"><b>9. How environmentally conscious would you consider yourself?</b></h2>
		<div class="slidecontainer">
  			<input type="range" min="0" max="3" value="0" style="width:100%;height:10px;padding-left:140px;padding-right:140px" class="slider" id="q9">
  			<img hspace="70" src="img/pennies.jpg" height="150" width="150" onclick="q9clickPic(0);">
  			<img hspace="70" src="img/some money.jpg" height="150" width="150" onclick="q9clickPic(1);">
  			<img hspace="70" src="img/more money.jpg" height="150" width="150" onclick="q9clickPic(2);">
  			<img hspace="70" src="img/most money.jpg" height="150" width="150" onclick="q9clickPic(3);">
  			<h2 align="center"><span id="q9text"></span></h2>
		</div></div>

		<script>
		var q9slider = document.getElementById("q9");
		var q9output = document.getElementById("q9text");
		q9output.innerHTML = "Pick An Image";
		
		function q9clickPic(num) {
		  q9slider.value = num;
		  q9changeText();
		}
		
		q9slider.oninput = function() {
		  if (this.value == 0) {
		    q9output.innerHTML = "Not Very";
		  } else if (this.value == 1) {
		    q9output.innerHTML = "A Little";
		  } else if (this.value == 2) {
		  	q9output.innerHTML = "Above Average";
		  } else {
		    q9output.innerHTML = "I Hug Trees";
		  }
		  update();
		}
		
		function q9changeText() {
		  if (q9slider.value == 0) {
		    q9output.innerHTML = "Not Very";
		  } else if (q9slider.value == 1) {
		    q9output.innerHTML = "A Little";
		  } else if (q9slider.value == 2) {
		  	q9output.innerHTML = "Above Average";
		  } else {
		    q9output.innerHTML = "I Hug Trees";
		  }
		  update();
		}
		</script>
		<br/><br/><br/>
		<h3 align="left">Results</h3>
		<p>Q2: <span id="q2results"></span></p>
		<p>Q3: <span id="q3results"></span></p>
		<p>Q4: <span id="q4results"></span></p>
		<p>Q5: <span id="q5results"></span></p>
		<p>Q6: <span id="q6results"></span></p>
		<p>Q7: <span id="q7results"></span></p>
		<p>Q8: <span id="q8results"></span></p>
		<p>Q9: <span id="q9results"></span></p>
		<script>
		var q2out = document.getElementById("q2results");
		var q3out = document.getElementById("q3results");
		var q4out = document.getElementById("q4results");
		var q5out = document.getElementById("q5results");
		var q6out = document.getElementById("q6results");
		var q7out = document.getElementById("q7results");
		var q8out = document.getElementById("q8results");
		var q9out = document.getElementById("q9results");
		function update() {
		  q2out.innerHTML = q2output.innerHTML;	
		  q3out.innerHTML = q3output.innerHTML;		
		  q4out.innerHTML = q4output.innerHTML;			
		  q5out.innerHTML = q5output.innerHTML;
		  q6out.innerHTML = q6output.innerHTML;
		  q7out.innerHTML = q7output.innerHTML;
		  q8out.innerHTML = q8output.innerHTML;
		  q9out.innerHTML = q9output.innerHTML;
		}
		</script>
	</form>	
</div>
<script>
  $(document).ready(function() {
    // alert('hello');
    hbs.registerHelper('select', function(selected, options) {
    return options.fn(this).replace(
        new RegExp(' value=\"' + selected + '\"'),
        '$& selected="selected"');
	});
  })
  
</script>
</html>